# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env*/        # just in case (like .env.local)

# Ignore OS-specific files
.DS_Store
